---
import Link from "../components/Link";

const Routes = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/til",
    text: "T.I.L",
  },
];

const activePath = Astro.url.pathname;
---

<header class="mt-0 ml-auto mr-auto max-w-3xl p-3">
  <div class="flex justify-between items-center">
    <Link
      href="/"
      target="_self"
      className="font-medium my-3"
      size="lg"
      showIcon={false}>justaplant</Link
    >
    {
      true && (
        <div class="flex justify-center items-center gap-2">
          {Routes.map(({ href, text }, index) => (
            <>
              <Link
                href={href}
                target="_self"
                showIcon={false}
                showHoverEffects={false}
              >
                <span
                  class={`leading-4 p-2 rounded hover:bg-off-white hover:!no-underline ${activePath === href ? "text-white underline" : "text-silver"}`}
                >
                  {text}
                </span>
              </Link>
              {index !== Routes.length - 1 && <span class="text-white">|</span>}
            </>
          ))}
        </div>
      )
    }
  </div>
</header>
